.cardlist {
    background-color: blanchedalmond;
    color: black;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .card-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
  }

.p-button-rounded {
    color: #000;
}
